<footer class="footer">
        <p class="footer-font">
            六角學院 <br/>2024 切版直播班 - 每日任務
        </p>
        <p class="footer-font">
        copyright &copy; 2024 Dolce.
        </p>
</footer>