<div class="fixed shadow">
    <div class="bg-c d-flex aic">
        <a href="index.html" class="d-flex jcc aic p-10">
                <img src="../assets/images/dolce-icon.png" alt="logo" width="30px">
                <h1 class="h3">Dolce Tseng.</h1>
        </a>
        <div class="d-flex ml-auto">
            <p class="p-10 accentuate small">此頁面暫不支援 RWD. 最後更新：2024/07/31</p>
        </div>
    </div>
</div>