<div class="sidebar p-12">
    <ul class="scrollbar">
        <li class="p p-4 mb-8"><a href="01.html">Day 01 - HTML 語意標籤運用</a></li>
        <li class="p p-4 mb-8"><a href="02.html">Day 02 - 移除圖片空隙</a></li>
        <li class="p p-4 mb-8"><a href="03.html">Day 03 - CSS 選擇器運用</a></li>
        <li class="p p-4 mb-8"><a href="04.html">Day 04 - 推擠方向</a></li>
        <li class="p p-4 mb-8"><a href="05.html">Day 05 - margin、padding 混合運用</a></li>
        <li class="p p-4 mb-8"><a href="06.html">Day 06 - box-model</a></li>
        <li class="p p-4 mb-8"><a href="07.html">Day 07 - box-sizing</a></li>
        <li class="p p-4 mb-8"><a href="08.html">Day 08 - 觀念選擇題</a></li>
        <li class="p p-4 mb-8"><a href="09.html">Day 09 - 練習 Emmet 語法</a></li>
        <li class="p p-4 mb-8"><a href="10.html">Day 10 - margin: 0 auto、text-align 混合運用</a></li>
        <li class="p p-4 mb-8"><a href="11.html">Day 11 - 文字設定（font-size、line-height）</a></li>
        <li class="p p-4 mb-8"><a href="12.html">Day 12 - 整合相同樣式</a></li>
        <li class="p p-4 mb-8"><a href="13.html">Day 13 - 文字設定（font-family、font-weight、font-style）</a></li>
        <li class="p p-4 mb-8"><a href="14.html">Day 14 - 垂直水平置中</a></li>
        <li class="p p-4 mb-8"><a href="15.html">Day 15 - flex 多屬性練習</a></li>
        <li class="p p-4 mb-8"><a href="16.html">Day 16 - flex 完成九宮格排版</a></li>
        <li class="p p-4 mb-8"><a href="17.html">Day 17 - background-image</a></li>
        <li class="p p-4 mb-8"><a href="18.html">Day 18 - container 容器應用</a></li>
        <li class="p p-4 mb-8"><a href="19.html">Day 19 - 線上 icon 載入</a></li>
        <li class="p p-4 mb-8"><a href="20.html">Day 20 - CSS 權重覆蓋</a></li>
        <li class="p p-4 mb-8"><a href="21.html">Day 21 - RWD 觀念選擇題</a></li>
        <li class="p p-4 mb-8"><a href="22.html">Day 22 - RWD 版型、RWD 排版間距</a></li>
        <li class="p p-4 mb-8"><a href="23.html">Day 23 - 表單設計</a></li>
        <li class="p p-4 mb-8"><a href="24.html">Day 24 - jQuery toggleClass</a></li>
        <li class="p p-4 mb-8"><a href="25.html">Day 25 - 下拉選單</a></li>
        <li class="p p-4 mb-8"><a href="26.html">Day 26 - 錨點練習</a></li>
        <li class="p p-4 mb-8"><a href="27.html">Day 27 - SCSS 結構、SCSS 用法</a></li>
        <li class="p p-4 mb-8"><a href="28.html">Day 28 - SCSS 排序</a></li>
        <li class="p p-4 mb-8"><a href="29.html">Day 29 - mixin</a></li>
      </ul>
  <%- include('./layout/footer'); -%>
</div>