body {
    line-height: 1.5;
  }
  
  .h-h1 {
    font-size: 32px;
  }
  
  .h-h2 {
    font-size: 24px;
  }
  
  .wrap-05 {
    width: 800px;
    background-color: #f8f9fa;
  }
  
  .mt-1-05 {
    margin-top: 16px;
  }
  .mb-1-05 {
    margin-bottom: 16px;
  }
  .pb-1-05 {
    padding-bottom: 16px;
  }
  .pt-1-05 {
    padding-top: 16px;
  }
  .px-1-05 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .p-1-05 {
    padding: 16px;
  }