.text {
    font-size: 16px;
    line-height: 24px;
  }
  
  .box1 {
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 30px;
    width: 300px;
    padding: 16px;
    border: 3px solid #000000;
  }
  
  .box2 {
    background-color: #5e9eff;
    color: #ffffff;
    box-sizing: border-box;
    width: 300px;
    padding: 16px;
    margin-bottom: 30px;
    border: 3px solid #000000;
  }
  .detail{
    color:#aaa;
  }