.container-content {
    // width: 1296px;
    margin: 0 auto; /*增加*/
    font-family: 'Castoro', serif;
  }
  .font-title {
    font-size: 128px;
    line-height: 1.5;
    letter-spacing: 0.12em;
  }
  .header-img {
    display: block;
    margin: 0 auto; /*增加*/
  }
  .text-align-right {
    text-align: right; /*增加*/
  }
  