@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

.text-center-13 {
    text-align: center;
    margin-top: 20px;
    font-family: "Castoro", serif; /*答案*/
  }
  
  .font-size-13 {
    font-size: 24px;
    line-height: 1.5;
  }
  
  .italic {
    font-style: italic;
  }