.content-16 {
    width: 1200px;
    margin: 0 auto;
  }
  .list-16 {
    display: flex;  /* 答案*/
    flex-wrap:wrap; /* 答案*/
  }
  .img-16 {
    width: 400px;
    height: 100%;
    display: block;
    padding: 0;
  }