.content-18{
    font-family: "Bruno Ace SC",cursive;
    background-color:#000000;
  }
  .container-18{
    width: 1296px;      /*答案*/
    margin: 0 auto;     /*答案*/
  }
  .padding-y-40-18{
    padding:40px 0px;
  }
  .title-18{
     text-align: center; /*答案*/
      font-size: 16px;
  }
  .font-color-white-18{
    color:white;
  }