.nav-26{
    background-color: #e8eeea;
    padding: 0 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list-26{
    display: flex;
  }
  .nav-link-26{
    text-decoration: none;
    color: #00cc99;
    padding: 5px 10px;
  }
  .container-26{
    width:900px;
    margin: 0 auto;
  }
  .mb-3-26{
    margin-bottom: 300px;
  }