<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolce's Project</title>
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg d-flex">
      <%- include('./layout/sidebar'); -%>
      
      <div class="container content-scroll pr-20">
        <!-- 這是 title 無動 -->
          <div class="border-b d-flex jcsb aic">
            <h2 class="h2">🏅 Day 2 - 移除圖片空隙</h2>
            <time>2024/06/25</time>
          </div>
          <p class="card">作業說明：圖片下方不可以有空白，使用 vertical-align 消除 </p>
          <!-- 作業開始 -->
        <img class="img" src="https://ithelp.ithome.com.tw/storage/image/logo.svg" alt="it邦幫忙 logo">
        <p class="homework2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nostrum officiis aspernatur.</p>
        <!-- 作業結束 -->
      </div>
    </div>
    

    <script type="module" src="../main.js"></script>
  </body>
</html>
