<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolce's Project</title>
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg d-flex">
      <%- include('./layout/sidebar'); -%>
      
      <div class="container content-scroll pr-20">
        <!-- 這是 title 無動 -->
          <div class="border-b d-flex jcsb aic">
            <h2 class="h2">🏅 Day 4 - 推擠方向</h2>
            <time>2024/06/27</time>
          </div>
          <p class="card">作業說明：題目中有各種方向的推擠，請修改成一樣的方向但最後畫面要跟原來一樣。 </p>
          <!-- 作業開始 -->
          <div class="wrap">
            <h1 class="title mb-1">標題</h1>
            <p class="text mb-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ratione blanditiis modi!
            </p> 
            <img class="img mb-1" src="https://ithelp.ithome.com.tw/storage/image/logo.svg" alt="ithome logo">
            <h2 class="mb-1">副標題</h2>
            <ul class="list">
              <li>1</li>
              <li>2</li>
              <li>3</li>
            </ul>
          </div>


        
        <!-- 作業結束 -->
      </div>
    </div>
    

    <script type="module" src="../main.js"></script>
  </body>
</html>
