<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolce's Project</title>
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg d-flex">
      <%- include('./layout/sidebar'); -%>
      
      <div class="container content-scroll pr-20">
        <!-- 這是 title 無動 -->
          <div class="border-b d-flex jcsb aic">
            <h2 class="h2">🏅 Day5 - margin、padding 混合運用</h2>
            <time>2024/06/28</time>
          </div>
          <p class="card">作業說明：練習混合使用 margin 和 padding ，熟悉並了解使用的時機。 </p>
          <!-- 作業開始 -->
          <h1 class="h-h1 mb-1-05">margin、padding 混合運用</h1>
            <div class="wrap-05 p-1-05">
              <h2 class="h-h2 mb-1-05">margin</h2>
              <p class="mb-1-05">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eos quas expedita fugit sequi beatae eveniet veritatis accusamus, officiis delectus.</p>
              <h2 class="mb-1-05">padding</h2>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, id sit. Cumque voluptate vel voluptatem pariatur temporibus eius enim sunt.</p>
            </div>


        
        <!-- 作業結束 -->
      </div>
    </div>
    

    <script type="module" src="../main.js"></script>
  </body>
</html>
