<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolce's Project</title>
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg d-flex">
      <%- include('./layout/sidebar'); -%>
      
      <div class="container content-scroll pr-20">
        <!-- 這是 title 無動 -->
          <div class="border-b d-flex jcsb aic">
            <h2 class="h2">🏅 Day 6 - box-model</h2>
            <time>2024/07/01</time>
          </div>
          <p class="card">作業說明： 請問 .box 實際高度是多少？<br/>(請不要用瀏覽器觀察) </p>
          <!-- 作業開始 -->
          <div class="box mt-4">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, provident sed illum recusandae nobis quidem? Cum nostrum, ab consectetur dolore fuga odit animi, debitis non quam deleniti sit numquam pariatur.
              請問 .box 實際高度是多少？(請不要用瀏覽器觀察)
            </p>
            <img class="image" src="https://ithelp.ithome.com.tw/storage/image/logo.svg" alt="ithome">
          </div>   
            <div class="row mt-10">
              <div class="col-6">
              <table class="table table-sm">
                <tr>
                  <td>2px</td><td> => top-border</td>
                </td>
                <tr>
                  <td>24px</td>
                  <td> => line-height+font-size 第一行</td>
                </tr>
                <tr>
                  <td>24px</td>
                  <td> => line-height+font-size 第二行</td>
                </tr>
                <tr>
                  <td>30px</td>
                  <td> => margin-bottom</td>
                </tr>
                <tr>
                  <td>30px</td>
                  <td> => margin-bottom</td>
                </tr>
                <tr>
                  <td>30px</td>
                  <td> => img-height</td>
                </tr>
                <tr>
                  <td>2px</td>
                  <td> => bottom-border</td>
                </tr>
                <tfoot>
                  <td class="colspan-2">Answer: 121px</td>
                </tfoot>
              </talbe>
            </div></div>


        
        <!-- 作業結束 -->
      </div>
    </div>
    

    <script type="module" src="../main.js"></script>
  </body>
</html>
