<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolce's Project</title>
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg d-flex">
      <%- include('./layout/sidebar'); -%>
      
      <div class="container content-scroll pr-20">
        <!-- 這是 title 無動 -->
          <div class="border-b d-flex jcsb aic">
            <h2 class="h2">🏅 Day 8 - 觀念選擇題</h2>
            <time>2024/07/03</time>
          </div>
          <p class="card">作業說明：觀念選擇題 </p>
          <!-- 作業開始 -->
          <table class="table-w">
            <thead>
              <tr>
                <th scope="col" class="table-title">1.哪一個標籤格式才是正確的?</th>
                <td class="table-title"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-title pb-10">
                  <ul class="px-10">
                    <pre>
                    <li>A. &lt;p&gt;hello</li>
                    <ul>B. &lt;h1&gt;logo&lt;/h1&gt;</ul>        
                    <li>C. &lt;a&gt;href=http://www.kimo.com.tw&gt;link&lt;/a&gt; </li>
                  </pre>
                  </ul>
                </td>
                <td class="table-body">B</td>
              </tr>
            </tbody>
          </table> <!-- 1 -->
          <table class="table-w mt-20">
            <thead>
              <tr>
                <th scope="col" class="table-title">2.哪個是行內(inline)標籤？</th>
                <td class="table-title"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-title pb-10">
                  <ul class="px-10">
                    <pre>
                    <li>A.&lt;h3&gt;&lt;/h3&gt;</li>
                    <li>B.&lt;span&gt;&lt;/span&gt;</li>
                    <li>C.&lt;p&gt;&lt;/p&gt;</li>
                    <li>D.&lt;li&gt;&lt;/li&gt;</li>
                  </pre>
                  </ul>
                </td>
                <td class="table-body">B</td>
              </tr>
            </tbody>
          </table> <!-- 2 -->
          <table class="table-w mt-20">
            <thead>
              <tr>
                <th scope="col" class="table-title">3.哪個是區塊(block)標籤？</th>
                <td class="table-title"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-title pb-10">
                  <ul class="px-10">
                    <pre>
                    <li>A.&lt;div&gt;&lt;/div&gt;</li>
                    <li>B.&lt;em&gt;&lt;/em&gt;</li>
                    <li>C.&lt;i&gt;&lt;/i&gt;</li>
                    <li>D.&lt;a&gt;&lt;/a&gt;</li>
                    </pre>
                  </ul>
                </td>
                <td class="table-body">A</td>
              </tr>
            </tbody>
          </table> <!-- 3 -->
          <table class="table-w mt-20">
            <thead>
              <tr>
                <th scope="col" class="table-title">4.如何在HTML檔案加上CSS樣式？</th>
                <td class="table-title"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-title pb-10">
                  <ul class="px-10">
                    <pre>
                    <li>A.載入外部CSS檔，&lt;link href="xx.css" type="text/css" / &gt;</li>
                    <li>B.寫在 JS 檔案上</li>
                  </pre>
                  </ul>
                </td>
                <td class="table-body">A</td>
              </tr>
            </tbody>
          </table> <!-- 4 -->
          <table class="table-w mt-20">
            <thead>
              <tr>
                <th scope="col" class="table-title">5.CSS reset可清除瀏覽器的預設css設定(是非)</th>
                <td class="table-title"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-title pb-10">
                  <ul class="px-10">
                    <pre>
                    <li>A. 對</li>
                    <li>B. 錯</li>
                  </pre>
                  </ul>
                </td>
                <td class="table-body">B</td>
              </tr>
            </tbody>
          </table> <!-- 5 -->
          <table class="table-w mt-20">
            <thead>
              <tr>
                <th scope="col" class="table-title">6.哪個CSS選擇器是錯的？</th>
                <td class="table-title"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-title pb-10">
                  <ul class="px-10">
                    <pre>
                    <li>A. .header</li>
                    <li>B. #wrap</li>
                    <li>C. .nav h1</li>
                    <li>D. .nav %kk</li>
                  </pre>
                  </ul>
                </td>
                <td class="table-body">D</td>
              </tr>
            </tbody>
          </table> <!-- 6 -->
          <table class="table-w mt-20">
            <thead>
              <tr>
                <th scope="col" class="table-title">7.下面描述 div 與 span 何者為錯?</th>
                <td class="table-title"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-title pb-10">
                  <ul class="px-10">
                    <pre>
                    <li>A.div為區塊排版元素</li>
                    <li>B.span 為行內排版元素</li>
                    <li>C.div在語意上不具任何意義，span 則為列表排版元素</li>
                    <li>D.div 與 span 在語意上不具任何意義，僅拿來協助排版</li>
                  </pre>          
                  </ul>
                </td>
                <td class="table-body">C</td>
              </tr>
            </tbody>
          </table> <!-- 7 -->
          <table class="table-w mt-20">
            <thead>
              <tr>
                <th scope="col" class="table-title">8.如果A div和B div上下間距30px，A需要下什麼語法？</th>
                <td class="table-title"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-title pb-10">
                  <ul class="px-10">
                    <pre>
                    <li>A.padding-bottom:30px</li>
                    <li>B.margin-bottom:30px</li>
                    <li>C.border:15px solid red</li>
                    <li>D.line-height:30px</li>
                  </pre>
                  </ul>
                </td>
                <td class="table-body">B</td>
              </tr>
            </tbody>
          </table> <!-- 8 -->
          <table class="table-w mt-20">
            <thead>
              <tr>
                <th scope="col" class="table-title">9.此元素的寬度多少？http://codepen.io/liao/pen/CkFwe</th>
                <td class="table-title"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-title pb-10">
                  <ul class="px-10">
                    <pre>
                    <li>A.50px</li>
                    <li>B.63px</li>
                    <li>C.73px</li>
                    <li>D.80px</li>
                  </pre>
                  </ul>
                </td>
                <td class="table-body">B</td>
              </tr>
            </tbody>
          </table> <!-- 9 -->
          <table class="table-w mt-20">
            <thead>
              <tr>
                <th scope="col" class="table-title">10.如何讓行內元素變成區塊元素？</th>
                <td class="table-title"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-title pb-10">
                  <ul class="px-10">
                    <pre>
                    <li>A.display:inline</li>
                    <li>B.display:block</li>
                    <li>C.margin: 0 auto</li>
                    <li>D.position:relative</li>
                  </pre>
                  </ul>
                </td>
                <td class="table-body">B</td>
              </tr>
            </tbody>
          </table> <!-- 10 -->
        <!-- 作業結束 -->
      </div>
    </div>
    

    <script type="module" src="../main.js"></script>
  </body>
</html>
