<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolce's Project</title>
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg d-flex">
      <%- include('./layout/sidebar'); -%>
      
      <div class="container content-scroll pr-20">
        <!-- 這是 title 無動 -->
          <div class="border-b d-flex jcsb aic">
            <h2 class="h2">🏅 Day 10 - margin: 0 auto、text-align 混合運用</h2>
            <time>2024/07/05</time>
          </div>
          <p class="card">作業說明：練習切出圖片樣式（細節請參考課前最終作業一設計稿）
          <img src="https://imgur.com/23IDM5B.png" alt="" width = "400px"></p>
          <!-- 作業開始 -->
          <div class="container-content">
            <h1 class="font-title">VITO</h1>
            <img class="header-img" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/vito.png?raw=true" alt="header-img">
            <h2 class="font-title text-align-right">RESUME</h2>
          </div>
        <!-- 作業結束 -->
      </div>
    </div>
    

    <script type="module" src="../main.js"></script>
  </body>
</html>
