<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolce's Project</title>
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg d-flex">
      <%- include('./layout/sidebar'); -%>
      
      <div class="container content-scroll pr-20">
        <!-- 這是 title 勿動 -->
          <div class="border-b d-flex jcsb aic">
            <h2 class="h2">🏅 Day 15 - flex 多屬性練習</h2>
            <time>2024/07/12</time>
          </div>
          <p class="card">作業說明：在程式碼加上 flex 屬性完成剩下的版型，如圖：<br/>
            <img src="https://i.imgur.com/aMOHoek.png" alt="" width="500px">
           </p>
          <!-- 作業開始 -->
          <nav class="nav-15">
            <img src="https://www.filepicker.io/api/file/tNa2so2RRMuedpc2yydt" alt="logo" width="100">
          <ul class="nav-list-15">
            <li class="nav-item"><a class="nav-link-15" href="#">首頁</a></li>
            <li class="nav-item"><a class="nav-link-15" href="#">關於</a></li>
            <li class="nav-item"><a class="nav-link-15" href="#">產品</a></li>
            <li class="nav-item"><a class="nav-link-15" href="#">購物車</a></li>
          </ul>
        </nav>
        
        <div class="container-15">
          <div class="card-15">
          <img class="card-img-15" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" width="200">
          <div class="card-body-15">
            <h2 class="title-15">標題文字</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ipsum ab sit neque accusamus praesentium, quisquam veritatis perferendis ipsa aspernatur nulla!<a href="https://unsplash.com/photos/HlNcigvUi4Q">圖來自unsplash</a>
            </p>
            <a href="#" class="btn-15">點我</a>
              </div>
           </div>
          <div class="card-15">
          <img class="card-img-15" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" width="200">
          <div class="card-body-15">
            <h2 class="title-15">標題文字</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ipsum ab sit neque accusamus praesentium, quisquam veritatis perferendis ipsa aspernatur nulla!<a href="https://unsplash.com/photos/HlNcigvUi4Q">圖來自unsplash</a>
            </p>
            <a href="#" class="btn-15">點我</a>
              </div>
           </div>
          <div class="card-15">
          <img class="card-img-15" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" width="200">
          <div class="card-body-15">
            <h2 class="title-15">標題文字</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ipsum ab sit neque accusamus praesentium, quisquam veritatis perferendis ipsa aspernatur nulla!<a href="https://unsplash.com/photos/HlNcigvUi4Q">圖來自unsplash</a>
            </p>
            <a href="#" class="btn-15">點我</a>
              </div>
           </div>
        </div> 


        
        <!-- 作業結束 -->
      </div>
    </div>
    

    <script type="module" src="../main.js"></script>
  </body>
</html>
