<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolce's Project</title>
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg d-flex">
      <%- include('./layout/sidebar'); -%>
      
      <div class="container content-scroll pr-20">
        <!-- 這是 title 勿動 -->
          <div class="border-b d-flex jcsb aic">
            <h2 class="h2">🏅 Day 22 - RWD 版型、RWD 排版間距</h2>
            <time>2024/07/23</time>
          </div>
          <div class="card">作業說明：請做出響應式排版，如下：<br/>
            <small class="small">桌機尺寸時設為四個一排</small>
            <img src="https://i.imgur.com/TQlwI1n.png" alt="pc" width="200px"> <br/>
            <small class="small">平板尺寸時設定為兩個一排</small>
            <img src="https://i.imgur.com/cU4FF87.png" alt="pad" width="200px"> <br/>
            <small class="small">手機尺寸時設定為一個一排</small>
            <img src="https://i.imgur.com/xM2BUvK.png" alt="phone" width="100px">
          </div>
          <!-- 作業開始 -->
          <div class="container-22">
            <ul class="card-22">
              <li class="card-item-22">
                <img class="card-img-22" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
                <div class="card-body-22">
                  <p class="card-text-22">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                  <small>9 mins</small>
                  <button class="card-btn-22 card-btn">點我</button>
                </div>
              </li>
              <li class="card-item-22">
                <img class="card-img-22" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
                <div class="card-body-22">
                  <p class="card-text-22">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                  <small>9 mins</small>
                  <button class="card-btn-22 card-btn">點我</button>
                </div>
              </li>
              <li class="card-item-22">
                <img class="card-img-22" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
                <div class="card-body-22">
                  <p class="card-text-22">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                  <small>9 mins</small>
                  <button class="card-btn-22 card-btn">點我</button>
                </div>
              </li>
              <li class="card-item-22">
                <img class="card-img-22" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
                <div class="card-body-22">
                  <p class="card-text-22">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                  <small>9 mins</small>
                  <button class="card-btn-22 card-btn">點我</button>
                </div>
              </li>
            </ul>
          </div>


        
        <!-- 作業結束 -->
      </div>
    </div>
    

    <script type="module" src="../main.js"></script>
  </body>
</html>
