<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolce's Project</title>
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg d-flex">
      <%- include('./layout/sidebar'); -%>
      
      <div class="container content-scroll pr-20">
        <!-- 這是 title 勿動 -->
          <div class="border-b d-flex jcsb aic">
            <h2 class="h2">🏅 Day 23 - 表單設計</h2>
            <time>2024/07/24</time>
          </div>
          <div class="card">作業說明：請做出以下圖示中的表單 <br/>
          <img src="https://i.imgur.com/ibUxMUv.png" alt="" width="200px">
          <ul>
            <p>提示：</p>
            <li>每個 label 都需要對應到相對的 input</li>
            <li>一共有 6 種不同的 type</li>
            <li>性別中的「男」「女」一次只能擇一選擇，預設為「男」，可以使用 checked 屬性</li>
          </ul>
          </div>
          <!-- code -->
           <div>
            <h3 class="h3">HTML</h3>
            <div class="code">
              <pre>
                  &lt;form class="form"&gt;
                  &lt;div class="p-4 b"&gt;
                    &lt;label for="name"&gt;姓名&lt;/label&gt;
                    &lt;input name="account" id="name" type="text" placeholder="陳小明"&gt;
                  &lt;/div&gt;
                  &lt;div class="p-4 b"&gt;
                    &lt;label for="email"&gt;信箱&lt;/label&gt;
                    &lt;input type="email" name="account" id="email" placeholder="xxx@gmail.com"&gt;
                  &lt;/div&gt;
                  &lt;div class="p-4 b"&gt;
                    &lt;label for="password"&gt;密碼&lt;/label&gt;
                    &lt;input type="password" name="account" id="password"&gt;
                  &lt;/div&gt;
                  &lt;div class="p-4 b"&gt;
                    &lt;label for="phonenumber"&gt;電話&lt;/label&gt;
                    &lt;input type="number" name="account" id="phonenumber" placeholder="0912-345-678"&gt;
                  &lt;/div&gt;
                  &lt;div class="p-4 b"&gt;
                    &lt;p&gt;性別&lt;/p&gt;
                    &lt;label for="male"&gt;男&lt;/label&gt;
                    &lt;input type="radio" name="account" id="male" checked&gt;
                    &lt;label for="female"&gt;女&lt;/label&gt;
                    &lt;input type="radio" name="account" id="female"&gt;
                  &lt;/div&gt;
                  &lt;input type="submit" value="送出" class="b"&gt;
                &lt;/form&gt;
              </pre>
            </div>
          </div>
          <!-- code end -->
          <!-- 作業開始 -->
           <h3 class="h3">Result</h3>
          <form class="form">
            <div class="p-4 b">
              <label for="name">姓名</label>
              <input name="account" id="name" type="text" placeholder="陳小明">
            </div>
            <div class="p-4 b">
              <label for="email">信箱</label>
              <input type="email" name="account" id="email" placeholder="xxx@gmail.com">
            </div>
            <div class="p-4 b">
              <label for="password">密碼</label>
              <input type="password" name="account" id="password">
            </div>
            <div class="p-4 b">
              <label for="phonenumber">電話</label>
              <input type="number" name="account" id="phonenumber" placeholder="0912-345-678">
            </div>
            <div class="p-4 b">
              <p>性別</p>
              <label for="male">男</label>
              <input type="radio" name="account" id="male" checked>
              <label for="female">女</label>
              <input type="radio" name="account" id="female">
            </div>
            <input type="submit" value="送出" class="b">
          </form>


        
        <!-- 作業結束 -->
      </div>
    </div>
    
    <script type="module" src="../main.js"></script>
  </body>
</html>
