<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolce's Project</title>
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="all.js"></script>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg d-flex">
      <%- include('./layout/sidebar'); -%>
      
      <div class="container content-scroll pr-20">
        <!-- 這是 title 勿動 -->
          <div class="border-b d-flex jcsb aic">
            <h2 class="h2">🏅 Day 24 - jQuery toggleClass</h2>
            <time>2024/07/25</time>
          </div>
          <p class="card">作業說明： </p>
          <!-- 作業開始 -->
           <div>
            <h3 class="h3">JavaScript</h3>
           <div class="code">
          <pre>
              $('.list-item').click(function (e) {
                e.preventDefault();
               $(this).toggleClass('active');
              })
          </pre>
        </div></div>
        <a href="https://codepen.io/DolceTseng1026/full/VwJPZPL">codepen</a>


        
        <!-- 作業結束 -->
      </div>
    </div>
    

    <script type="module" src="../main.js"></script>
  </body>
</html>
