<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolce's Project</title>
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg d-flex">
      <%- include('./layout/sidebar'); -%>
      
      <div class="container content-scroll pr-20">
        <!-- 這是 title 勿動 -->
          <div class="border-b d-flex jcsb aic">
            <h2 class="h2">🏅 Day 25 - 下拉選單</h2>
            <time>2024/07/26</time>
          </div>
          <p class="card">作業說明：請大家試著了解<a href="https://codepen.io/hexschool/pen/PoRzrpK">下拉選單</a>的操作，簡單用文字描述這是如何透過 css 及 jQuery 做出該效果。 </p>
          <!-- 作業開始 -->



        
        <!-- 作業結束 -->
      </div>
    </div>
    

    <script type="module" src="../main.js"></script>
  </body>
</html>
